body {
    margin: 0;
    overflow: hidden;
}

#scene-container {
    width: 100vw;
    height: 100vh;
}

#fullscreen-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 16px;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border: none;
    border-radius: 6px;
    z-index: 9999;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  #fullscreen-btn:hover {
    background-color: rgba(0, 0, 0, 0.9);
  }
  